<app-header></app-header>

<ion-content padding color="#E5E5E5">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <h1>
          <img src="/assets/imgs/aun_no_tienes_una_cuenta.png" alt="Aun no tienes una cuenta en LookCut"/>
        </h1>
        <h2>
          <img src="/assets/imgs/registrate.png" alt="registrate"/>
        </h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">&nbsp;</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="10" offset="1">
        <input type="text" color="#FFFFFF" autofocus="true" id="nombres" placeholder="Nombres y Apellidos" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="10" offset="1">
        <input type="text" color="#FFFFFF" id="telefono" placeholder="Teléfono" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="10" offset="1">
        <input type="email" color="#FFFFFF" id="correo" placeholder="Correo Electrónico" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="10" offset="1">
        <input type="password" color="#FFFFFF" autofocus="true" id="password" placeholder="Contraseña" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="10" offset="1">
        <input type="text" color="#FFFFFF" autofocus="true" id="repetir-password" placeholder="Confirmar Contraseña" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">&nbsp;</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-list color="dark">
          <ion-radio-group value="tipo" color="dark">
            <ion-item color="dark">
              <ion-label>Barberías</ion-label>
              <ion-radio slot="start" value="barberias"></ion-radio>
            </ion-item>

            <ion-item color="dark">
              <ion-label>Salas de belleza</ion-label>
              <ion-radio slot="start" value="salas-belleza"></ion-radio>
            </ion-item>

            <ion-item color="dark">
              <ion-label>Clientes</ion-label>
              <ion-radio slot="start" value="clientes"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
      </ion-col>
      <!-- <ion-col size="4">
        <ion-radio color="dark" mode="ios" value="barberias"></ion-radio>
        &nbsp;
        <label>Barberías</label>
      </ion-col>
      <ion-col size="4">
        <ion-radio color="dark" mode="ios" value="salas-belleza"></ion-radio>
        &nbsp;
        <label>Salas de belleza</label>
      </ion-col> -->
    <!-- </ion-row> -->
    <!-- <ion-row> -->
      <!-- <ion-col size="4">
         <ion-radio color="dark" mode="ios" value="clientes"></ion-radio>
         &nbsp;
         <label>Clientes</label>
      </ion-col> -->
    </ion-row>
    <ion-row>
      <ion-col size="12">&nbsp;</ion-col>
    </ion-row>
    <ion-row text-center>
      <ion-col size="8" offset="2">
        <button expand="block" color="#12110F" size="large">Registrarme</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">&nbsp;</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<app-footer></app-footer>
