<app-header></app-header>

<ion-content padding color="#E5E5E5">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <h1>
          <img src="/assets/imgs/aun_no_tienes_una_cuenta.png" alt="Aun no tienes una cuenta en LookCut"/>
        </h1>
        <h2>
          <img src="/assets/imgs/registrate.png" alt="registrate"/>
        </h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">&nbsp;</ion-col>
    </ion-row>
    <form #formRegistro="ngForm" (ngSubmit)="onSubmitForm()">
    <ion-row>
      <ion-col size="10" offset="1">
        <input type="text" color="#FFFFFF" autofocus="true" id="nombres" placeholder="Nombres y Apellidos"
          [(ngModel)]="registro.nombres" name="nombres" required />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="10" offset="1">
        <input type="text" color="#FFFFFF" id="telefono" placeholder="Teléfono" [(ngModel)]="registro.telefono" name="telefono"
          required />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="10" offset="1">
        <input type="email" color="#FFFFFF" id="correo" placeholder="Correo Electrónico" [(ngModel)]="registro.correo" name="correo"
          required />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="10" offset="1">
        <input type="password" color="#FFFFFF" autofocus="true" id="password" placeholder="Contraseña"
          [(ngModel)]="registro.contrasenia" name="contrasenia" required />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="10" offset="1">
        <input type="text" color="#FFFFFF" autofocus="true" id="repetir-password" placeholder="Confirmar Contraseña"
          [(ngModel)]="registro.confirmContrasenia" name="confirmContrasenia"
          required />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">&nbsp;</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-list color="dark">
          <ion-radio-group value="tipo" color="dark" [(ngModel)]="registro.tipoCliente" name="tipoCliente">
            <ion-item color="dark">
              <ion-label>Barberías</ion-label>
              <ion-radio slot="start" value="barberias" ></ion-radio>
            </ion-item>

            <ion-item color="dark">
              <ion-label>Salas de belleza</ion-label>
              <ion-radio slot="start" value="salas-belleza"></ion-radio>
            </ion-item>

            <ion-item color="dark">
              <ion-label>Clientes</ion-label>
              <ion-radio slot="start" value="clientes"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">&nbsp;</ion-col>
    </ion-row>
    <ion-row text-center>
      <ion-col size="8" offset="2">
        <button type="submit" expand="block" color="#12110F" size="large" [disabled]="formRegistro.invalid">Registrarme</button>
      </ion-col>
    </ion-row>
    </form>
    <ion-row>
      <ion-col size="12">&nbsp;</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<app-footer></app-footer>
