<app-header></app-header>

<ion-content padding color="dark">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <h1>Aún no tienes una cuenta en LOOKCUT? 
          <a href="/registro">Regístrate</a></h1>
        <h2>Inicio Sesión</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">&nbsp;</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="10" offset="1">
        <input type="text" color="#FFFFFF" autofocus id="username" placeholder="Correo o Cédula" />
      </ion-col>
    </ion-row>
   <ion-row>
     <ion-col size="10" offset="1">
       <input type="password" color="#FFFFFF" id="password" placeholder="Contraseña" />
     </ion-col>
   </ion-row>
    <ion-row>
      <ion-col size="12">&nbsp;</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8" offset="2">
        <ion-label class="no-background">
          <a href="/recuperar-password">
            ¿Olvidáste tu contraseña?
          </a>
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">&nbsp;</ion-col>
    </ion-row>
    <ion-row text-center>
      <ion-col size="8" offset="2">
        <button expand="block" color="#12110F" size="large">Iniciar Sesión</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<app-footer></app-footer>
