<app-header></app-header>

<ion-content padding color="#E5E5E5">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <h1>Inicio Sesión</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">&nbsp;</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <label for="username">Correo o Cédula</label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="10" offset="1">
        <input type="text" color="#FFFFFF" autofocus="true" id="username" placeholder="Correo o Cédula" />
      </ion-col>
    </ion-row>
   <ion-row>
     <ion-col size="12">
       <label for="password">Contraseña</label>
     </ion-col>
   </ion-row>
   <ion-row>
     <ion-col size="10" offset="1">
       <input type="password" color="#FFFFFF" id="password" placeholder="Contraseña" />
     </ion-col>
   </ion-row>
    <ion-row>
      <ion-col size="12">&nbsp;</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8" offset="2">
        <ion-label class="no-background">
          <a href="/recuperar-password">
            ¿Olvidáste tu contraseña?
          </a>
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">&nbsp;</ion-col>
    </ion-row>
    <ion-row text-center>
      <ion-col size="8" offset="2">
        <ion-button expand="block" color="dark" size="large">Iniciar Sesión</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<app-footer></app-footer>
