ion-footer {
  background-color: #000000;
  font-family: Agencyb;
  p {
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
  }
  p.mayus{
    text-transform: uppercase;
  }
}