ion-footer {
  background-color: #000000 !important;
  font-family: Agencyb;
  height: 5rem;
  color: #ffffff;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  span.mayus{
    text-transform: uppercase;
  }
}