<app-header></app-header>

<ion-content padding color="#E5E5E5">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <h1>Registro Clientes</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">&nbsp;</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="10" offset="1">
        <ion-item color="#009EE3">
          <ion-label position="floating">Nombres y apellidos</ion-label>
          <ion-input type="text" color="#47525E" autocapitalize="on" mode="ios" autofocus="true"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="10" offset="1">
         <ion-item color="#009EE3">
           <ion-label>Tipo documento</ion-label>
           <ion-select placeholder="Seleccionar">
             <ion-select-option value="CC">Cédula</ion-select-option>
             <ion-select-option value="TI">Tarjeta identidad</ion-select-option>
             <ion-select-option value="CE">Cédula extranjeria</ion-select-option>
             <ion-select-option value="Otro">Otra</ion-select-option>
           </ion-select>
         </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="10" offset="1">
        <ion-item color="#009EE3">
          <ion-label position="floating">Número documento</ion-label>
          <ion-input type="text" color="#47525E" autocapitalize="on" mode="ios"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="10" offset="1">
        <ion-item color="#009EE3">
          <ion-label position="floating">Teléfono</ion-label>
          <ion-input type="number" color="#47525E" autocapitalize="on" mode="ios" inputmode="numeric"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="10" offset="1">
        <ion-item color="#009EE3">
          <ion-label position="floating">Correo Electrónico</ion-label>
          <ion-input type="email" color="#47525E" autocapitalize="on" mode="ios" inputmode="email"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="10" offset="1">
        <ion-item color="#009EE3">
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" color="#47525E" autocapitalize="on" mode="ios" inputmode="password"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="10" offset="1">
        <ion-item color="#009EE3">
          <ion-label position="floating">Confirmar contraseña</ion-label>
          <ion-input type="password" color="#47525E" autocapitalize="on" mode="ios" inputmode="password"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">&nbsp;</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2" offset="1">
        <ion-checkbox checked="true" color="dark" name="salon-belleza"></ion-checkbox>
      </ion-col>
      <ion-col size="8">
        <ion-label class="no-background">
          Cliente
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">&nbsp;</ion-col>
    </ion-row>
    <ion-row text-center>
      <ion-col size="8" offset="2">
        <ion-button expand="block" color="dark" size="large">Registrar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<app-footer></app-footer>
