<app-header></app-header>

<ion-content padding color="#E5E5E5">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <h1>Registro Clientes</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">&nbsp;</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="10" offset="1">
        <input type="text" color="#FFFFFF" autofocus="true" id="nombres" placeholder="Nombres y Apellidos" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="10" offset="1">
        <input type="text" color="#FFFFFF" id="documento" placeholder="Nit o CC" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="10" offset="1">
        <input type="text" color="#FFFFFF" id="direccion" placeholder="Dirección" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="10" offset="1">
        <input type="text" color="#FFFFFF" id="telefono" placeholder="Teléfono" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="10" offset="1">
        <input type="email" color="#FFFFFF" id="correo" placeholder="Correo Electrónico" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="10" offset="1">
        <input type="password" color="#FFFFFF" autofocus="true" id="password" placeholder="Contraseña" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="10" offset="1">
        <input type="text" color="#FFFFFF" autofocus="true" id="repetir-password" placeholder="Confirmar Contraseña" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">&nbsp;</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2" offset="1">
        <ion-checkbox checked="true" color="dark" name="checkbox-barberias"></ion-checkbox>
      </ion-col>
      <ion-col size="8">
        <label>
          Clientes
        </label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">&nbsp;</ion-col>
    </ion-row>
    <ion-row text-center>
      <ion-col size="8" offset="2">
        <button expand="block" color="#12110F" size="large">Registrar</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<app-footer></app-footer>
