ion-item{
  ion-label{
    font-size: 35px;
    font-family: Agencyb;
  }
   ion-icon{
     color: #000000;
     font-weight: bold;
     font-size: 35px;
    font-family: Agencyb;
  }
}

ion-menu{
  ion-header{
    ion-toolbar{
      ion-title{
        font-size: 35px;
        text-align: center;
        font-family: Agencyb;
      }
    }
  }
}