#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

ion-content {
  .hydrated {
    background: #E5E5E5 !important;
  }
  main .inner-scroll .scroll-y {
    background-color: #009EE3 !important;
  }
  div #background-content {
    background-color: #009EE3 !important;
  }
}