<ion-header color="primary" class="ion-no-border" padding>
  <ion-toolbar color="primary">
    <ion-title>Barberias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary" padding>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-list>
          <ion-item>
            <ion-label position="floating" color="dark">Nombre o razón social</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

