
ion-content {
  font-size: 25px;
  ion-grid {
    ion-row {
      color: #47525E;
      ion-col {
        a{
           color: #47525E;
           text-decoration: none;
           text-align: left !important;
           font-size: 22px;
           font-weight: bold;
        }
      }
      ion-button{
        font-size: 30px;
      }
    }
  }
}