<app-header></app-header>

<ion-content color="primary" padding>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        &nbsp;
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <a href="/pagina-inicial">Registrate</a>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button color="dark" expand="block" href="/registro-barberias" mode="ios">Barberias</ion-button>
      </ion-col>
    </ion-row>
     <ion-row>
       <ion-col size="12">
         <ion-button color="dark" expand="block" href="/registro" mode="ios">Salas de belleza</ion-button>
       </ion-col>
     </ion-row>
     <ion-row>
       <ion-col size="12">
         <ion-button color="dark" expand="block" href="/registro-clientes" mode="ios">Clientes</ion-button>
       </ion-col>
     </ion-row>
     <ion-row>
       <ion-col size="12">
         <a href="/inicio-sesion">¿Ya tienes una cuenta? Inicie Sesión</a>
       </ion-col>
     </ion-row>
     <ion-row>
       <ion-col size="12">
         <p>
           &nbsp;
         </p>
       </ion-col>
     </ion-row>
     <ion-row>
       <ion-col size="2" offset="1">
         <ion-checkbox checked="true" color="dark"></ion-checkbox>
       </ion-col>
       <ion-col size="8">
         <a href="/terminos-condiciones">Términos y Condiciones</a>
       </ion-col>
     </ion-row>
  </ion-grid>
</ion-content>

<app-footer></app-footer>
