<app-header></app-header>

<ion-content color="dark" padding>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        &nbsp;
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="10" offset="1">
        <a href="/pagina-inicial" class="mayus">Registrate</a>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="10" offset="1">
        <button>
          <a href="/registro-barberias">Barberias</a>
        </button>
        <!-- <ion-button color="light" expand="block" href="/registro-barberias" mode="ios"> -->
          <!-- <ion-img src="/assets/imgs/Boton-Barberias.png">
            </ion-img> -->
            <!-- Barberias
        </ion-button> -->
      </ion-col>
    </ion-row>
     <ion-row>
       <ion-col size="12">
         &nbsp;
       </ion-col>
     </ion-row>
     <ion-row>
       <ion-col size="10" offset="1">
          <button>
            <a href="/registro">Salas de belleza</a>
          </button>
         <!-- <ion-button color="dark" expand="block" href="/registro" mode="ios">
          <ion-img src="/assets/imgs/Boton-Salas-de-Belleza.png">
          </ion-img>
        </ion-button> -->
       </ion-col>
     </ion-row>
      <ion-row>
        <ion-col size="12">
          &nbsp;
        </ion-col>
      </ion-row>
     <ion-row>
       <ion-col size="10" offset="1">
          <button>
            <a href="/registro-clientes">Clientes</a>
          </button>
         <!-- <ion-button color="dark" expand="block" href="/registro-clientes" mode="ios">
            <ion-img src="/assets/imgs/Boton-Clientes.png"></ion-img>
        </ion-button> -->
       </ion-col>
     </ion-row>
      <ion-row>
        <ion-col size="12">
          &nbsp;
        </ion-col>
      </ion-row>
     <ion-row>
       <ion-col size="12">
         <a href="/inicio-sesion">¿Ya tienes una cuenta? Inicia Sesión</a>
       </ion-col>
     </ion-row>
     <ion-row>
       <ion-col size="12">
           &nbsp;
       </ion-col>
     </ion-row>
     <ion-row>
       <ion-col size="2" offset="1">
         <ion-checkbox checked="true" color="#252A26"></ion-checkbox>
       </ion-col>
       <ion-col size="8">
         <a href="/terminos-condiciones">Términos y Condiciones</a>
       </ion-col>
     </ion-row>
      <ion-row>
        <ion-col size="12">
          &nbsp;
        </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>

<app-footer></app-footer>
